/*
ResetCSS / reset-css / vc-reset-css
0.2.2
Van Civelik <vancivelik@gmail.com>
Full reset CSS, including browser styling.
http://github.com/vancivelik/reset-css.git
*/
html,
body {
  font-family: monospace;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #000;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
strong,
i,
blockquote,
ul,
ol,
li,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
video,
canvas,
object,
embed,
meter,
progress,
button,
input[type=button],
input[type=reset],
input[type=submit],
input[type=text],
input[type=password],
textarea,
input[type=checkbox],
input[type=radio],
input[type=file],
input[type=image],
input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=range],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=month],
input[type=week],
abbr,
acronym,
pre,
code,
samp,
kbd,
mark,
table,
tr,
td,
th,
fieldset,
legend,
marquee {
  background: transparent;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
strong,
i,
blockquote,
ul,
li,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
video,
canvas,
object,
embed,
meter,
progress,
button,
input[type=button],
input[type=reset],
input[type=submit],
input[type=text],
input[type=password],
textarea,
input[type=checkbox],
input[type=radio],
input[type=file],
input[type=image],
input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=range],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=month],
input[type=week],
abbr,
acronym,
pre,
code,
samp,
kbd,
mark,
img,
hr,
table,
tr,
td,
th,
fieldset,
legend,
marquee {
  margin: 0;
  padding: 0;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
strong,
i,
blockquote,
ul,
li,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
video,
canvas,
object,
embed,
meter,
progress,
button,
input[type=button],
input[type=reset],
input[type=submit],
input[type=text],
input[type=password],
textarea,
input[type=checkbox],
input[type=radio],
input[type=file],
input[type=image],
input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=range],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=month],
input[type=week],
abbr,
acronym,
pre,
code,
samp,
kbd,
mark,
img,
hr,
table,
tr,
td,
th,
fieldset,
legend,
marquee {
  outline: none;
  border-color: transparent;
  border-width: 0;
  border-collapse: 0;
  border-spacing: 0;
}
html:hover,
body:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
p:hover,
a:hover,
b:hover,
strong:hover,
i:hover,
blockquote:hover,
ul:hover,
li:hover,
article:hover,
aside:hover,
details:hover,
figcaption:hover,
figure:hover,
footer:hover,
header:hover,
hgroup:hover,
main:hover,
nav:hover,
section:hover,
summary:hover,
audio:hover,
video:hover,
canvas:hover,
object:hover,
embed:hover,
meter:hover,
progress:hover,
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover,
input[type=text]:hover,
input[type=password]:hover,
textarea:hover,
input[type=checkbox]:hover,
input[type=radio]:hover,
input[type=file]:hover,
input[type=image]:hover,
input[type=color]:hover,
input[type=date]:hover,
input[type=datetime]:hover,
input[type=datetime-local]:hover,
input[type=email]:hover,
input[type=number]:hover,
input[type=range]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=time]:hover,
input[type=url]:hover,
input[type=month]:hover,
input[type=week]:hover,
abbr:hover,
acronym:hover,
pre:hover,
code:hover,
samp:hover,
kbd:hover,
mark:hover,
img:hover,
hr:hover,
table:hover,
tr:hover,
td:hover,
th:hover,
fieldset:hover,
legend:hover,
marquee:hover,
html:active,
body:active,
h1:active,
h2:active,
h3:active,
h4:active,
h5:active,
h6:active,
p:active,
a:active,
b:active,
strong:active,
i:active,
blockquote:active,
ul:active,
li:active,
article:active,
aside:active,
details:active,
figcaption:active,
figure:active,
footer:active,
header:active,
hgroup:active,
main:active,
nav:active,
section:active,
summary:active,
audio:active,
video:active,
canvas:active,
object:active,
embed:active,
meter:active,
progress:active,
button:active,
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active,
input[type=text]:active,
input[type=password]:active,
textarea:active,
input[type=checkbox]:active,
input[type=radio]:active,
input[type=file]:active,
input[type=image]:active,
input[type=color]:active,
input[type=date]:active,
input[type=datetime]:active,
input[type=datetime-local]:active,
input[type=email]:active,
input[type=number]:active,
input[type=range]:active,
input[type=search]:active,
input[type=tel]:active,
input[type=time]:active,
input[type=url]:active,
input[type=month]:active,
input[type=week]:active,
abbr:active,
acronym:active,
pre:active,
code:active,
samp:active,
kbd:active,
mark:active,
img:active,
hr:active,
table:active,
tr:active,
td:active,
th:active,
fieldset:active,
legend:active,
marquee:active,
html:focus,
body:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
a:focus,
b:focus,
strong:focus,
i:focus,
blockquote:focus,
ul:focus,
li:focus,
article:focus,
aside:focus,
details:focus,
figcaption:focus,
figure:focus,
footer:focus,
header:focus,
hgroup:focus,
main:focus,
nav:focus,
section:focus,
summary:focus,
audio:focus,
video:focus,
canvas:focus,
object:focus,
embed:focus,
meter:focus,
progress:focus,
button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus,
input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input[type=file]:focus,
input[type=image]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=range]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=month]:focus,
input[type=week]:focus,
abbr:focus,
acronym:focus,
pre:focus,
code:focus,
samp:focus,
kbd:focus,
mark:focus,
img:focus,
hr:focus,
table:focus,
tr:focus,
td:focus,
th:focus,
fieldset:focus,
legend:focus,
marquee:focus {
  outline: none;
  border-color: transparent;
  border-width: 0;
  border-collapse: 0;
  border-spacing: 0;
}
audio,
video,
canvas,
object,
embed,
meter,
progress,
sub,
sup {
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
}
audio,
video,
canvas,
object,
embed,
meter,
progress {
  width: 0;
  height: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
video,
canvas,
object,
embed,
meter,
progress,
pre,
code {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
strong,
i,
blockquote,
ul,
ol,
li,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
video,
canvas,
object,
embed,
meter,
progress,
button,
input[type=button],
input[type=reset],
input[type=submit],
input[type=text],
input[type=password],
textarea,
input[type=checkbox],
input[type=radio],
input[type=file],
input[type=image],
input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=range],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=month],
input[type=week],
abbr,
acronym,
pre,
code,
samp,
kbd,
mark,
table,
tr,
td,
th,
fieldset,
legend,
marquee {
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
small {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: bold;
}
i {
  font-style: italic;
}
del,
s,
strike {
  text-decoration: line-through;
}
ul {
  list-style: none;
  padding-left: 0;
}
li > ul {
  padding-left: 2em;
}
ol {
  padding-left: 4em;
}
details {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
details summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
details summary::-webkit-details-marker {
  display: none;
}
details:not([open]) > {
  display: none;
}
details[open] > {
  display: block;
}
button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  overflow: visible;
}
button:disabled,
input[type=button]:disabled,
input[type=reset]:disabled,
input[type=submit]:disabled {
  cursor: default;
}
input[type=text],
input[type=password],
textarea,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=month],
input[type=week] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: text;
  width: 100%;
}
input[type=text]:disabled,
input[type=password]:disabled,
textarea:disabled,
input[type=date]:disabled,
input[type=datetime]:disabled,
input[type=datetime-local]:disabled,
input[type=email]:disabled,
input[type=number]:disabled,
input[type=search]:disabled,
input[type=tel]:disabled,
input[type=time]:disabled,
input[type=url]:disabled,
input[type=month]:disabled,
input[type=week]:disabled {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  display: none;
}
input[type=checkbox] + label,
input[type=radio] + label {
  cursor: pointer;
}
input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
  cursor: default;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
input[type=checkbox] + label::before,
input[type=radio] + label::before {
  content: "-";
}
input[type=checkbox]:checked + label::before,
input[type=radio]:checked + label::before {
  content: "+";
}
input[type=color] {
  width: 100%;
  cursor: pointer;
}
input[type=color]:disabled {
  cursor: default;
}
[hidden],
template,
comment {
  display: none;
}
abbr,
acronym {
  text-decoration: none;
}
dfn {
  font-style: normal;
}
dfn:nth-of-type(1) {
  font-style: italic;
}
pre {
  overflow: auto;
}
sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
}
sub {
  bottom: -0.3em;
}
sup {
  top: -0.5em;
}
hr {
  height: 1px;
  background: #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
button::-webkit-input-placeholder {
  font-size: inherit;
  color: inherit;
}
input:-moz-placeholder,
textarea:-moz-placeholder,
button:-moz-placeholder {
  font-size: inherit;
  color: inherit;
}
input::-moz-placeholder,
textarea::-moz-placeholder,
button::-moz-placeholder {
  font-size: inherit;
  color: inherit;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
button:-ms-input-placeholder {
  font-size: inherit;
  color: inherit;
}
input:disabled,
textarea:disabled,
button:disabled {
  font-size: inherit;
  color: inherit;
}
button,
select {
  text-transform: none;
}
svg:not(:overflow) {
  hrroot: hidden;
}
* {
  font-family: inherit;
  font-size: inherit;
}
