@import "nib"

.reset
    margin 1em
    padding 1em

fieldset.reset legend, .reset.header
    abbr
        border-bottom 1px black dotted
    
    .wtf
        color red

    h1, h2, h3, h4, h5, h6
        margin 0.5em 0 0.2em 0

    h1
        font-size 3em
    h2
        font-size 2.4em
    h3
        font-size 2em
    h4
        font-size 1.8em
    h5
        font-size 1.4em
    h6
        font-size 1em

    p
        margin 1em 0 0.5em 0

fieldset.reset
    border 1px black solid